In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()


sc = spark.sparkContext
sc.setLogLevel("ERROR")

In [3]:
employees = [{"name": "John D.", "age": 30},
  {"name": "Alice G.", "age": 25},
  {"name": "Bob T.", "age": 35},
  {"name": "Eve A.", "age": 28}]

# Create a DataFrame containing the employees data
df = spark.createDataFrame(employees)
df.show()

+---+--------+
|age|    name|
+---+--------+
| 30| John D.|
| 25|Alice G.|
| 35|  Bob T.|
| 28|  Eve A.|
+---+--------+

In [5]:
r1 = df.collect()[0]
r1.name, r1.age

('John D.', 30)

In [6]:
avg_age = df.groupBy('name').avg('age')
avg_age.show()

+--------+--------+
|    name|avg(age)|
+--------+--------+
| John D.|    30.0|
|Alice G.|    25.0|
|  Bob T.|    35.0|
|  Eve A.|    28.0|
+--------+--------+

In [7]:
df.rdd.getNumPartitions()

12

In [8]:
avg_age.rdd.getNumPartitions()

1