In [5]:
from pyspark.sql import SparkSession
spark.stop()
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext

In [6]:
spark

In [7]:
import numpy as np

data = np.arange(1, 100)
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [8]:
rdd0 = sc.parallelize(data)
rdd0

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:297

In [10]:
rdd1 = rdd0.map(lambda x: x**2)
rdd1.getNumPartitions()

12

In [11]:
# Read CSV (assumes header row)
df = spark.read.csv('people.csv', header=True, inferSchema=True)

# Show the DataFrame
df.show()

# Quick analysis: Average age by city? (Group and aggregate)
df.groupBy('City').agg(avg('Age').alias('Avg Age')).show()

# Stop the session
spark.stop()

+-------+---+--------+
|   Name|Age|    City|
+-------+---+--------+
|  Alice| 34|New York|
|    Bob| 45|  London|
|Charlie| 29|   Paris|
|  Diana| 28|   Tokyo|
+-------+---+--------+

+--------+-------+
|    City|Avg Age|
+--------+-------+
|  London|   45.0|
|   Tokyo|   28.0|
|   Paris|   29.0|
|New York|   34.0|
+--------+-------+